<section>
  <div class="uni">
    <div class="me-avatar">
      <img class="avatar" src="assets/img/profile1.jpg" alt="Avatar">
    </div>
    <div class="me-name">
      <label>SHANKAR SHARMA</label>
    </div>
    <div class="me-desig">
      <label>FULL-STACK SOFTWARE ENGINEER</label>
    </div>
  </div>
</section>
<nav class="navbar navbar-toggleable-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="icon-wrapper">
    <div class="social-icons col-sm-2 col-md-2 col-lg-2">
      <a  href="mailto:shankarsharma243@gmail.com"> <i class="icon fa fa-envelope"></i>
      </a>

    </div>
    <div class=" social-icons col-sm-2 col-md-3 col-lg-2">

      <a target="_blank" href="https://www.linkedin.com/in/shankar-sharma-83559139/">
        <i class="icon fa fa-linkedin"></i>
      </a>
    </div>
    <div class="social-icons col-sm-2 col-md-3 col-lg-2">

      <a  target="_blank" href="https://github.com/shankar0909"> <i class="icon fa fa-github"></i>
      </a>

    </div>
    <div class="social-icons col-sm-2 col-md-3 col-lg-2">

      <a target="_blank" href="https://twitter.com/shanky0909"> <i class="icon fa fa-twitter"></i>
      </a>

    </div>


  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#" [routerLink]="['/about']" [routerLinkActive]="['is-active']">Resume</a>
      <a class="nav-item nav-link disabled" href="#" [routerLink]="['/notes']"
        [routerLinkActive]="['is-active']">Notes</a>
      <a class="nav-item nav-link" href="#" [routerLink]="['/contact']" [routerLinkActive]="['is-active']">Contact</a>
    </div>
  </div>
</nav>