  <div class="content-wrapper">
  <div class="container">
  <div class="page-header">
    <h6>Contact Me</h6>
  </div>
  <div class="contact-msg">
    <p>I am available for hire and open to any ideas of cooperation.</p>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2">
      <label>E-mail:</label>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <i class="icon fa fa-envelope"></i>
    <a class="a-desc" href="mailto:mail@shankarsharma.me">ss@shankarsharma.me</a>
    </div>
</div>
<div class="row">
      <div class="col-sm-3 col-md-3 col-lg-2"><label>LinkedIn:</label></div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <i class="icon fa fa-linkedin"></i>
        <a class="a-desc" target="_blank" href="https://www.linkedin.com/in/shankar-sharma-83559139/">shankar0909</a>
      </div>
    </div>
  <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-2"><label>Github:</label></div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <i class="icon fa fa-github"></i>
        <a class="a-desc" target="_blank" href="https://github.com/shankar0909">shankar0909</a>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-2"><label>Twitter:</label></div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <i class="icon fa fa-twitter"></i>
        <a class="a-desc" target="_blank" href="https://x.com/imshankar0909">@imshankar0909</a>
      </div>
</div>
</div>
</div>