<section class="content-wrapper">
    <div class="home-content">
    <div class="summary">
        <div class="sub-title col-md-12">
            <h3>Portfolio</h3>
        </div>
        <div class="bio">
            Over 10 years of progressive and hands on IT experience in Software Development, Design and Integration. Essayed roles of Technology Lead and Full Stack Developer on various projects utilizing a wide range of underlying technologies.
        </div>
        <div class="sub-bio">
        <div class="interests">
            <div class="int-title">
                Interests
            </div>
            <ul>
                <li>Generative AI</li>
                <li>Machine Learning</li>
                <li>Robotics</li>
            </ul>
        </div>
        <div class="education">
            <div class="int-title">
                Education
            </div>
            <ul>
                <li>
                    <div class="edu">
                        <div class="edu-icon">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                        <div class="edu-degree">
                            MS in Information Technology, 2012
                        </div>
                        </div>
                    <div class="edu-loc">
                        Sheffield Hallam University, United Kingdom

                    </div>
                </li>
                <li>
                    <div class="edu">
                        <div class="edu-icon">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                        <div class="edu-degree">
                        BE in Computer Science, 2009
                        </div>
                    </div>
                    <div class="edu-loc">
                        
                        DAV College of Engineering & Technology, India
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="skills">
        <div class="sub-title col-md-12">
            <h3>Skills</h3>
        </div>
    <div class="container">
        
        <div class="item col-12 col-sm-4">
            <div class="skill-icon">
                <i class="fab fa-java"></i>&nbsp;
                <i class="fab fa-python"></i>
            </div>
            
            <h4>Core</h4>
                <h6>Java,Python</h6>
        </div>
        <div class="item col-12 col-sm-4">
            <div class="skill-icon">
            <i class="fab fa-angular"></i>
            </div>
            <h4>UI</h4>
                <h6>Angular,Typescript</h6>
        </div>

        <div class="item col-12 col-sm-4">
          
           <div class="skill-icon">
            <i class="fab fa-aws"></i>&nbsp;
            <i class="fab fa-microsoft"></i>
            </div>
            
            <h4>Cloud Engineering</h4>
                <h6>AWS,Azure</h6>
        </div>

        <div class="item col-12 col-sm-4">
            <div class="skill-icon">
            <i class="fab fa-docker"></i>
            </div>
            <h4>DevOps</h4>
                <h6>Docker,Kubernetes</h6>
        </div>

        <div class="item col-12 col-sm-4">
            <div class="skill-icon">
            <i class="fas fa-database"></i>
            </div>
            <h4>Databases</h4>
                <h6>SQL,NoSQL</h6>
        </div>

        <div class="item col-12 col-sm-4">
            <div class="skill-icon">
        <i class="fab fa-jenkins"></i>
            </div>
        <h4>Continous Integration</h4>
            <h6>Jenkins,Terraform</h6>
        </div>
    </div>
    </div>
     

    <div class="timeline">
        <div class="sub-title col-md-12">
            <h3>Experience</h3>
        </div>
        <div class="container">
            <div class="main-timeline">

                <!-- start nfcu experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                    <!-- <span class="month">1 Year</span> -->
                            <span class="year">2023-</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Senior Systems Engineer</h5>
                        <h6 class="org">Navy Federal Credit Union</h6>
                    
                        <ul>
                            <li>
                                Design & Development of backend microservices using Java/J2EE framework i.e. Spring
                            </li>
                            <li>
                                Development of api proxies using Mulesoft and Managing the Azure Kubernetes container orchestraLon
                            </li>
                            <li>
                                Development of web application integration layer with Cloud technology i.e. Azure
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end experience section-->

                <!-- start fidelity experience section-->
                                    <div class="timeline">
                                        <div class="icon"></div>
                                        <div class="date-content">
                                            <div class="date-outer">
                                                <span class="date">
                                                        <span class="month">0.4 Year</span>
                                                <span class="year">2023</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <h5 class="title">Senior Software Developer</h5>
                                            <h6 class="org">Fidelity Investments</h6>
                                        
                                            <ul>
                                                <li>
                                                    Design & Development of web application modules & microservices using Java/J2EE framework i.e. Spring
                                                </li>
                                                <li>
                                                    Managing the AWS docker container orchestration
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end experience section-->
            
                                    <!-- start hex experience section-->
                                    <div class="timeline">
                                        <div class="icon"></div>
                                        <div class="date-content">
                                            <div class="date-outer">
                                                <span class="date">
                                                        <span class="month">3 Years</span>
                                                <span class="year">2020</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <h5 class="title">Senior Software Developer</h5>
                                            <h6 class="org">Hexaware Technologies</h6>
                                        
                                            <ul>
                                                <li>
                                                    Design & Development of web application modules & microservices using Java/J2EE framework i.e. Spring
                                                </li>
                                                <li>
                                                    Development of web application front end layer using Angular framework
                                                </li>
                                                <li>
                                                    Development of web application integration layer with Cloud technology i.e. AWS
                                                </li>
                                                <li>
                                                    Development of automation layer for the web ui using Protractor framework
                                                </li>
                                                <li>
                                                    Development of automation layer for the backend apis using Karate and PACT framework
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end experience section-->
            
                                    <!-- start experience section-->
                                    <div class="timeline">
                                        <div class="icon"></div>
                                        <div class="date-content">
                                            <div class="date-outer">
                                                <span class="date">
                                                        <span class="month">1 Year</span>
                                                <span class="year">2019</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <h5 class="title">Senior Software Engineer</h5>
                                            <h6 class="org">Avizva LLC</h6>
                                            <ul>
                                                <li>
                                                    Design integration flows using API led connectivity framework using Integration Platform as a Service (iPASS) i.e. Mulesoft.
                                                </li>
                                                <li>
                                                    API and Micro-Services Design, X12 EDI Integration, Flat File and SOAP based integration on Mulesoft.
                                                </li>
                                                <li>
                                                    API modelling in RAML, Swagger & Development of Jenkins pipeline to automate build and deployment process.
                                                </li>
                                                <li>
                                                    Development of integration platform for EDI processing using Azure logic apps.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end experience section-->
            
                                    <!-- start experience section-->
                                    <div class="timeline">
                                        <div class="icon"></div>
                                        <div class="date-content">
                                            <div class="date-outer">
                                                <span class="date">
                                                        <span class="month">6 Years</span>
                                                <span class="year">2013</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <h5 class="title">Senior Associate Technology</h5>
                                            <h6 class="org">Avizva Solutions Pvt Ltd.</h6>
                                            <ul>
                                                <li>
                                                    Development of software apps using Spring, Hibernate. Includes development of enterprise web services using REST/SOAP protocols.
                                                </li>
                                                <li>
                                                    Development of applciation persistence layer and writing stored procedures using DB programming languages like SQL.
                                                </li>
                                                <li>
                                                    Development of workflow framework to automate the business processes and descisons in software apps using JBPM.
                                                </li>
                                                <li>
                                                    Design and Development of re-usable cross cutting module like application logging & exception handling.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end experience section-->
            
                                    <!-- start experience section-->
                                    <div class="timeline">
                                        <div class="icon"></div>
                                        <div class="date-content">
                                            <div class="date-outer">
                                                <span class="date">
                                                        <span class="month">1 Year</span>
                                                <span class="year">2012</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <h5 class="title">Software Developer</h5>
                                            <h6 class="org">ETek Solutions Pvt Ltd.</h6>
                                            <ul>
                                                <li>
                                                Development of application modules using Java/J2EE.
                                            </li>
                                            <li>
                                                Peer review, Test case development(JUnits).
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                    <!-- end experience section-->
            
                                </div>
            </div>
    
    </div>
   
</div>
</section>
<div class="footer">
    <div class="foot-content">
       <p> &#169;shankarsharma.me </p>
    </div>
  </div>  